* {
  box-sizing: border-box;
  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1.35;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
  font-weight: 500;
}

p,
input {
  font-size: 14px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p,
  input {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  input {
    font-size: 12px;
  }
}
